# Docker development settings

########################################
# Application
########################################

CACHE_DRIVER=file
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_DRIVER=redis

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

REDIS_HOST=redis

########################################
# PHP Environment
########################################

# Xdebug
PHP_XDEBUG_DEFAULT_ENABLE=1
PHP_XDEBUG_REMOTE_AUTOSTART=1
PHP_XDEBUG_REMOTE_CONNECT_BACK=1
PHP_XDEBUG_REMOTE_PORT=9001
PHP_XDEBUG_REMOTE_ENABLE=1
PHP_XDEBUG_IDEKEY=DOCKER_XDEBUG
PHP_XDEBUG_PROFILER_ENABLE=0
PHP_XDEBUG_PROFILER_OUTPUT_DIR=/var/www/html/storage/logs

# Opcache
PHP_OPCACHE_VALIDATE_TIMESTAMPS=1
